* { box-sizing: border-box; }

h1 {
	margin-bottom: 40px;
}
h3 { margin-top: 5px; }

p { 
	font-size: 20px;
	margin: 5px 0 20px;
}
#game * {
	text-align: center;
	font-family: Sans-Serif;
}
#game { 
	position: relative;
	height: 600px;
}
#letterBoard {
	width: inherit;
	font-size: 2.5em; /* 40px */
	letter-spacing: 20px; /* 5px */
}

.row {
	width: 400px;
	/*height: 100px;*/
	margin: 10px auto 10px;
	padding: 10px 10px;
}
.row:last-child {
	height: 110px;
	margin: 0 auto;
	border-bottom: 1px solid #999999;
}
#numGuess { font-size: 26px; }

.last {
	position: absolute;
	width: inherit;
	bottom: 10px;
}
#anyKeyMsg, #gameOverMsg { 
	opacity: 0;
	transition: opcacity .5s ease;
 }
#anyKeyMsg.show, #gameOverMsg.show { opacity: 1; }
